#
# The Percona XtraDB Cluster 5.7 configuration file.
#
#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#   Please make any edits and changes to the appropriate sectional files
#   included below.
#
# !includedir /etc/mysql/conf.d/
# !includedir /etc/mysql/percona-xtradb-cluster.conf.d/


[mysqld]

datadir=/var/lib/mysql
user=mysql

# Path to Galera library
wsrep_provider=/usr/lib/libgalera_smm.so

# Cluster connection URL with all 3 nodes
wsrep_cluster_address=gcomm://192.168.70.61,192.168.70.62, 192.168.70.63

# In order for Gelera to work, binlog should be ROW
binlog_format=ROW

# MyISAM storage engine has only experimental support
default_storage_engine=InnoDB

# This InnoDB autoincrement locking mode is a requirement for Galera
innodb_autoinc_lock_mode=2

# Node 1 address
wsrep_node_address=192.168.70.61

# SST method
wsrep_sst_method=xtrabackup-v2

# Cluster Name
wsrep_cluster_name=my_ubuntu_cluster

